@model RavenDB_Embedded.Models.MuonSachView

@{
    ViewData["Title"] = "AcceptEdit";
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" />
</head>
<body>
    <h2>Lưu Thay đổi</h2>

    <div>
        <h4>MuonSachView</h4>
        <hr />
    </div>
    <div>

        <h3>Id Phiếu: @Model.Id</h3>
        <h3>Mã Phiếu: @Model.MaPhieu</h3>
        <h3>Tên độc giả: @Model.TenDG</h3>
        <h3>Tên sách: @Model.TenSach</h3>
        <h3>Tên chi nhánh: Model.TenChiNhanh</h3>
        <h3>Số lượng mượn: @Model.SoLuongMuon</h3>
        <h3>Ngày mượn: @Model.NgayMuon</h3>
    </div>
    <a asp-action="Index">Back to List</a>

</body>
</html>
