@model RavenDB_Embedded.Models.MuonSachView

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div>
    <h4>MuonSachView</h4>
    <hr />
    <div></div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="AcceptEdit" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input type="text" name="Id" value="@ViewBag.Id" class="form-control" readonly />

                </div>

                <div class="form-group">
                    <label asp-for="MaPhieu" class="control-label"></label>
                    <input type="text" name="MaPhieu" value="@ViewBag.MP" class="form-control" />

                </div>
                <div class="form-group">

                    <label asp-for="TenDG" class="control-label"></label>
                    <input type="text" name="TenDG" value="@ViewBag.Ten" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TenSach" class="control-label"></label>
                    <input asp-for="TenSach" name="TenSach" type="text" value="@ViewBag.TenSach" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="TenChiNhanh" class="control-label"></label>
                    <input asp-for="TenChiNhanh" name="TenChiNhanh" value="@ViewBag.TenCN" type="text" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="SoLuongMuon" class="control-label"></label>
                    <input asp-for="SoLuongMuon" name="SoLuongMuon" value=" @ViewBag.SoLuong" type="text" class="form-control" />


                </div>
                <div class="form-group">
                    <label asp-for="NgayMuon" class="control-label"></label>
                    <input asp-for="NgayMuon" name="NgayMuon" type="text" value="@ViewBag.NgayMuon" class="form-control" />

                </div>
                <div>
                    <input type="submit" value="save" />

                    <a asp-action="Index">Back to List</a>
                </div>



            </form>

        </div>
    </div>
</div>

