@model IEnumerable<RavenDB_Embedded.Models.MuonSachView>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h4>MuonSachView</h4>
    <hr />

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDG)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenChiNhanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSach)


            <th>
                @Html.DisplayNameFor(model => model.SoLuongMuon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayMuon)

            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(model => item.Id)
                </th>
                <th>
                    @Html.DisplayFor(model => item.MaPhieu)
                </th>
                <th>
                    @Html.DisplayFor(model => item.TenDG)

                </th>
                <th>
                    @Html.DisplayFor(model => item.TenChiNhanh)
                </th>
                <th>
                    @Html.DisplayFor(model => item.TenSach)


                <th>
                    @Html.DisplayFor(model => item.SoLuongMuon)
                </th>
                <th>
                    @Html.DisplayFor(model => item.NgayMuon)

                </th>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id, MaPhieu = item.MaPhieu, Ten = item.TenDG, Tens = item.TenSach, Tencn = item.TenChiNhanh, slm = item.SoLuongMuon, ngaym = item.NgayMuon }) |
                    <a asp-action="Index">Back to List</a>
                </td>
                <td> @Html.ActionLink("Details", "Details", new { /* id = Model.PrimaryKey */ }) |</td>
                <td> @Html.ActionLink("Delete", "Delete", new { /* id = Model.PrimaryKey */ }) |</td>

            </tr>

        }
    </table>

</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>


